<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChaosModInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="GTA_PATH_ENTRY" value="butt"/>
		<add key="FIVEM_PATH_ENTRY" value="FiveM Directory Path"/>
	</appSettings>
 <userSettings>
  <ChaosModInstaller.Properties.Settings>
   <setting name="GTA_PATH_ENTRY" serializeAs="String">
    <value />
   </setting>
   <setting name="FIVEM_PATH_ENTRY" serializeAs="String">
    <value />
   </setting>
  </ChaosModInstaller.Properties.Settings>
 </userSettings>
</configuration>
